<div class="container">
    <h1 class="mt-5">Change user <span>{{ user.username }}</span></h1>

    <form (ngSubmit)="changeAction()">
        <div class="mb-3">
            <label for="firstname" class="form-label">First name</label>
            <input
                    type="text"
                    id="firstname"
                    name="firstname"
                    class="form-control"
                    required
                    [(ngModel)]="user.firstname"/>
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last name</label>
            <input
                    type="text"
                    id="lastname"
                    name="lastname"
                    class="form-control"
                    required
                    [(ngModel)]="user.lastname"/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">EMail</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    required
                    [(ngModel)]="user.email"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                    [(ngModel)]="user.password"/>
        </div>
        <button
                class="btn btn-primary"
                [disabled]="submitting || !validate()"
                type="submit">Update</button>
    </form>
</div>