<div class="">
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
</div>
<div>
    <a [routerLink]="['/user', 'change']">Update</a>
    <a [routerLink]="['/user', 'pwchange']">Change password</a>
</div>
<div>
    <div>
        <label for="password">password</label>
        <input
                type="password"
                id="password"
                name="password"
                required
                [(ngModel)]="password"/>
    </div>
    <button
            class="deletebtn"
            [disabled]="submitting"
            type="button"
            (click)="delete_action()">Delete Account</button>
</div>
