<div class="">
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    @if (user.farmowner === FarmOwnerStatus.YES) {
        <p>Farm Admin</p>
    }
</div>
<div>
    <a [routerLink]="['/user', 'change']">Update</a>
    <a [routerLink]="['/user', 'pwchange']">Change password</a>
</div>
<div>
    <button
            id="request-adm-btn"
            class="btn btn-primary"
            [disabled]="user.farmowner !== FarmOwnerStatus.NO"
            type="button"
            (click)="request_admin_action()">Request Farm Admin Status</button>
</div>
<div>
    <div>
        <label for="password">password</label>
        <input
                type="password"
                id="password"
                name="password"
                required
                [(ngModel)]="password"/>
    </div>
    <button
            id="delete-btn"
            class="btn btn-danger"
            [disabled]="submitting"
            type="button"
            (click)="delete_action()">Delete Account</button>
</div>
