<div class="container">
    <h1 class="mt-5">Farms</h1>

    <div class="mb-3">
        <a class="default-link" [routerLink]="['/farms/map']">Show on map</a>
    </div>

    <div class="mb-3" [hidden]="user === null || user.farmowner !== FarmOwnerStatus.YES">
    <a
            class="btn btn-primary"
            [routerLink]="['/farms/create']">Create farm</a>
    </div>

    <div class="mb-3">
        <ul class="list-group">
        @for (farm of farms; track farm.id) {
          <li class="list-group-item"><a class="default-link" routerLink="/farms/{{farm.id}}">{{ farm.name }}</a></li>
        }
        </ul>
    </div>
</div>
