<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Farmers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-controls"
                    aria-controls="navbar-controls" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-controls" class="collapse navbar-collapse">
                <div *ngIf="isLoggedIn();then userarea else login"></div>
                <ng-template #login>
                    <ul class="navbar-nav my-2 my-md-0">
                        <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="register">Register</a></li>
                    </ul>
                </ng-template>
                <ng-template #userarea>
                    <ul class="navbar-nav my-2 my-md-0">
                        <li class="nav-item"><a class="nav-link" routerLink="user">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="" (click)="logout()">Logout</a></li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </nav>
</header>
<router-outlet />
