.header-line {
    background-color: #04AA6D;
    overflow: hidden;
}

.home-button-area {
    float: left;
    padding: 1em;
}

.home-button-area a {
    padding: 1em;
}

.login-area {
    float: right;
    padding: 1em;
}

.login-area a {
    padding: 1em;
}