<h1>Change password</h1>
<form (ngSubmit)="changeAction()">
    <div class="mb-3">
        <label for="old_password" class="form-label">Old password</label>
        <input
                type="password"
                id="old_password"
                name="old_password"
                class="form-control"
                required
                [(ngModel)]="change.old_password"/>
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">New password</label>
        <input
                type="password"
                id="new_password"
                name="new_password"
                class="form-control"
                required
                [(ngModel)]="change.new_password"/>
    </div>
    <button
            class="btn btn-primary"
            [disabled]="submitting || !validate()"
            type="submit">Change</button>
</form>
